.Contact #tsparticles{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
} 

.Contact h1 {
    text-align: center;
    font-size: 4rem;
    color: brown;
    margin-bottom: 3rem;
}

.Contact .container {
    display: flex;
    justify-content: center;
    gap: 25%;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.Contact .container nav > *{
    margin-top: 2rem;
}
.Contact .container nav div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.Contact .container nav div img {
    width: 50px;

}

.Contact .container nav div a{
    font-size: 2.5rem;
    text-decoration: none;
    color: #000000;
}

.Contact .container nav button{
    padding: 24px;
    border-radius: 16px;
    border: 1px #812727 solid;
    color: white;
    font-size: 1.2rem;
    background-color: #8B0808;
    margin-bottom: 3rem;
}

.Contact .container iframe{
    opacity: 1;
    width: 70%;
    height: 500px;

    max-width: 700px;

    min-width: 200px;
    min-height: 200px;

    border: 0.5rem rgba(221, 113, 35, 90%) solid;
    border-radius: 0.5rem;
}