.About #tsparticles{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
} 

.About {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.About h1{
    font-size: 3rem;
}    

.About #galera{
    width: 450px;
    height: 250px;
    object-fit: cover;
}

.About .container{
    display: flex;
    max-width: 80%;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.About .container p{
    max-width: 50%;
    min-width: 350px;
    font-weight: bold;
    font-size: 1.2rem;
}

.About ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    width: 80%;
    justify-content: space-around;
}

.About .info{
    display: flex;
    max-width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 3rem 0;
}

.About .info div{
    text-align: center;
    background-color: rgba(221, 113, 35, 50%);
    border-radius: 20px;
    border: gray 1px solid;
    max-width: 30%;
    min-width: 300px;
    /* margin: 2rem 1rem; */
}


.About .info div h2{
    color: #8B0808;
    font-size: 2rem;
}
.About .info p{
    font-weight: bold;
    font-size: 1rem;
    padding: 0 24px;
}

@media (max-width: 800px) {
    /* .About .container p{
        max-width: 80%;
    } */
}