.About #tsparticles{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
} 

.About {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.About h1{
    font-size: 3rem;
}    

.About #galera{
    width: 450px;
    height: 250px;
    object-fit: cover;
    margin: 0 1rem;
    border-radius: 4%;
}

.About .container{
    display: flex;
    /* max-width: 80%; */
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    
    background-color: hsla(30, 100%, 96%, 0.8);
    padding: 2rem 0 0 0;
    border-radius: 10px;
    /* margin: 1%; */
}

.About .red-container{
    max-width: 70%;
    min-width: 500px;
}

.About .red-container::after{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background: #B20909;
    border-radius: 0px 0px 10px 10px;    
}

.About .container::after{
    content: "";
    height: 10px;
    width: 100%;
    background-color: black;
    display: block;
}








.About .container p{
    max-width: 50%;
    min-width: 350px;
    font-weight: bold;
    font-size: 1.2rem;
}

.About ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    width: 80%;
    justify-content: space-around;
}

.About .info{
    display: flex;
    max-width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 3rem 0;
}

.About .info div{
    text-align: center;
    background-color: rgba(221, 113, 35, 50%);
    border-radius: 20px;
    border: rgba(255, 255, 255, 0.233) 1px solid;
    width: 30%;
    min-width: 300px;
    /* margin: 2rem 1rem; */
}


.About .info div h2{
    color: #8B0808;
    font-size: 2rem;
}
.About .info p{
    font-weight: bold;
    font-size: 1rem;
    padding: 0 24px;
}

@media (max-width: 800px) {
    /* .About .container p{
        max-width: 80%;
    } */
}