.footer {
    display: flex;
    background-color: #380C0F;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 4px;

}

.footer a{
    display: block;
    padding: 8px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
}